/* Your styles here */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    margin: 0;
    background-color: rgb(247, 246, 246);
}


a {
    text-decoration: none;
}

/* Header*/

header {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgb(57, 57, 122);
    margin-bottom: 0;
}

#logoAmazon {
    width: 10%;
    margin-left: 40px;
    margin-top: 10px;
}

nav {
    background-color: #364759;
    font-size: 0.8rem;
    margin: 0;
}

.navBar {
    color: white;
    margin-left: 40px;
    margin-bottom: 0;
}


.subtitle {
    background-color: orange;
    margin-bottom: 20;
    margin-top: 40;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.linkNavBar {
    color: white;
    margin-left: 2%;
    margin-bottom: 0;

}

.linkFintiNavBar {

    color: white;
    font-size: 0.8rem;
    text-decoration: none;

}

/*MAIN*/

.primaSection {
    width: 100%;
}

#banner {
    margin-top: 20;
    text-align: center;
    color: white;
    background-image: url(../images/bg-image.png);
    width: 96%;
    height: 150px;
    margin-left: 2%;
    margin-right: 5%;


}


.titoloPrincipale {

    margin-top: 20px;
    margin-bottom: 0;
}

.primoSottotitolo {

    margin-top: 0;
    margin-bottom: 0;
}


h6 {

    margin-top: 0px;


}



/*SECONDO ARTICOLO: 4 IMMAGINI*/

#coloreDivImage {


    background-color: white;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
}

#titleSecondArticle {

    text-align: left;
    display: inline;
    margin-left: 3%;
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 0;
}

.shop {
    color: blue;
    display: inline;
}

.contenitoreImmagini {

    margin-left: 3%;
    margin-top: 2%;
    white-space: nowrap;
    font-size: 0;
}

.immagine {
    width: 300px;
    height: 300px;
    margin-right: 5%;
    display: inline-block;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #888888
}

.immagineInMezzo {
    white-space: nowrap;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    overflow: hidden;

}

.immagine9 {
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin: 2%;
    margin-bottom: 3px;

}

/* SOTTOTITOLI IMMAGINE DI MEZZO */

.sottotitoliImmagini {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    display: block;
}

.linkFinti {
    color: blue;
    font-size: 0.8rem;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: rgb(57, 57, 122);
}

.scritta {
    color: white;
}

.linkFintoFooter {
    color: white;
    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
    background-color: #364759;
    margin-left: 0;
    margin-right: 0;
}